html {
    scroll-behavior: smooth;
}
 
li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

html,
body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(20, 18, 18);
    
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-color: blueviolet;
    border-width:2px;
    border-style: solid;
}

 
 
