.header-container {
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items:stretch;
    width: 100%;
    border-color: blueviolet;
     border-width: 2px;
     border-style: solid;
 }

.section-container{
    padding: 0px;
    margin: 0px;
}



 #menu,
 #soc-menu {
     display: flex;
     justify-content: center;
     border-color: blueviolet;
     border-width: 2px;
     border-style: solid;
     
}




 

.bckg-img {
    width: 100%;
    height: 100%;
    text-align: center;
}

#about_myself_container {
    margin: -20% 0px 0px 0px;
}
#about_myself_text {
    margin: -20% 0px 0px 0px;
  }

#about_myself_img{
    width:40%
}




.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    
}

.video-container {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 25px;
    margin: -50% 0px 0px 0px;
}








.injected-text {
    margin-bottom: -25%;
    text-align: center;
  }    

.orchid-text {
    color: rgb(218, 112, 214);
}
.sienna-text {
    color: rgb(160, 82, 45);
}