::-webkit-scrollbar { width: 0;
}
 
@keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

html {
scroll-behavior: smooth;
animation: fade-in .4s ease;
background-color: black;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.page-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/images/hi_i_sky-0002.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.page-section-video{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-text{
    color: coral;
    text-align: center;
    font-size: 52px;
}

.main-gif-original{
    width: 512px;
    height: 512px;
}

.video-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
  }
.video-body{

}

.video-text{
    color: coral;
    text-align: left;
    font-size: 36px;
    max-width: 30vw;
}


.item-start {
    align-self: flex-start;
}

.item-end {
    align-self: flex-end;
}
.contacts{
    width: 100%;
    height: 100%;
 }
.contacts-items{
   
}
.contacts-item{
    width: 50px;
 
}

@media screen and ((max-width: 512px) or (max-height: 750px)){
   
    .page-section{
        background-image:unset;
     }
    .main-container{
    }
    .main-text{
        max-width: 100vw;
    }
    .main-gif{
        height: 100vw;
        max-height: 80vh;
    }
    .main-gif-original{
        width: 80vw;
        height: 80vw;
        max-height: 512px;
        min-width: 512px;
    }
    .contacts-items{
        width: 32px;
     
    }
    .contacts-item{
        width: 32px;
     
    }

@media screen and ((max-width: 512px) or (max-height: 750px)){
    .page-section-video{
        height: 400vh;
    }
    .video-container{
        flex-wrap: wrap;
        overflow: visible;
        
    }
    .video-body{
        width: 100vw;
        height: 100vh;
  
         
    }
    .video-text{
        font-size: 10vh;
        max-width: 100vw;
    }

    .item {
        align-items: center;
        justify-content: center;
    }
}
