::-webkit-scrollbar {
    width: 0;
}

:root {
    --background-color-big: rgb(11, 0, 15);
    --background-color-small: rgb(11, 0, 15);

    --text-color-big: coral;
    --text-color-small: coral;
    --text-color-big--hover: red;

    --font-family-big: Regular 400 italic, monospace;
    --font-family-small: Regular 400 italic, monospace;

    --font-size-big: 40px;
    --font-size-small: 40px;

    --contacts-font-size-big: 25px;
    --contacts-font-size-small: 22px;

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    animation: fade-in .4s ease;
}


.page {
    background-color: var(--background-color-big);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url("/images/hi_i_sky-0002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.main-section__background{
  /*  background-image: url("/images/hi_i_sky-0002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}

.contacts {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacts__icons {}

.contacts__text {
    align-self: center;
    text-decoration: none;
    color: var(--text-color-big);
    font-family: var(--font-family-big);
    font-size: var(--contacts-font-size-big);
    text-transform: uppercase;
}
.contacts__text:hover{
    color: var(--text-color-big--hover);
}
.icon {
    width: 50px;
    padding: 3px;
}

.icon:hover {
    width: 56px;
    padding: 0;
}

.main-section__container {
    height: 100vh;
    width: 100vw;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section__text {
    color: var(--text-color-big);
    font-size: var(--font-size-big);
    font-family: var(--font-family-big);
    text-align: center;
    
}

.main-section__animation{
    animation: fade-in .4s infinite;
}

.main-section__text:hover {
    color: var(--text-color-big--hover);
}
.main-section__gif-container {
    opacity:0.8;
}

.main-section__gif {
    width: 512px;
    height: 512px;
    max-width: 80vmin;
    max-height: 80vmin;
}

.video-section {}

.video-section__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    overflow: hidden;
}

.video-section__video {}

@media only screen and (min-width: 1440px) {
    .video-section__video--big {}

    .video-section__container--big {
        height: 100vh;

    }

    .video-section__video--align-start {
        align-self: flex-start;
    }

    .video-section__video--align-end {
        align-self: flex-end;
    }
}

@media only screen and (max-width: 1440px) {

    .video-section__container--medium {
        justify-content: space-evenly;
        height: fit-content;
    }

    .video-section__video--medium {
        height: 100vh;
    }
}

@media only screen and (max-width: 768px) {

    .contacts__text--small {
        font-family: var(--font-family-small);
        font-size: var(--contacts-font-size-small);
    }

    .icon--small {
        width: 40px;
        padding: 3px;
    }

    .icon--small:hover {
        width: 46px;
        padding: 0;
    }

    .main-section__container--small {
        margin-bottom: 56px;
    }

    .main-section__text--small {
        color: var(--text-color-small);
        font-size: var(--font-size-small);
        font-family: var(--font-family-small);
    }

    .video-section__container--small {
        justify-content: center;
    }
}